@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fe4a23;
  --accent-color: #ffd027;
  --ramos-white: #f9f9f9;
  --ramos-black: #0d0d0d;
}

body {
  color: var(--ramos-black);
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

