@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fe4a23;
  --accent-color: #ffd027;
  --ramos-white: #f9f9f9;
  --ramos-black: #0d0d0d;
}

body {
  color: var(--ramos-black);
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
